In [22]:
import selenium
import pandas as pd
import time
import regex as re
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import requests
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [109]:
driver = webdriver.Chrome()

1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [16]:
pro=input("Enter your item =")

Enter your item =guitar

2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [110]:
driver.get("https://www.amazon.in/")

In [111]:
find=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
find.send_keys('guitar')
amazonsearch=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span")
amazonsearch.click()

In [112]:
product_url=[]
start=0
end=3
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    for i in url:
        product_url.append(i.get_attribute("href"))
next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
next_button.click()
time.sleep(3)

In [113]:
brand_name=[]
name_product=[]
price=[]
return_exchange=[]
delivery=[]
availability=[]

for i in product_url:
    driver.get(i)
    try:
        brand=driver.find_element(By.XPATH,'//*[@id="productOverview_feature_div"]/div/table/tbody/tr[1]/td[2]/span')
        brand_name.append(brand.text)
    except NoSuchElementException:
        brand_name.append('-')
        
    try:
        nameproduct=driver.find_element(By.XPATH,'//span[@class="a-size-large product-title-word-break"]')
        name_product.append(nameproduct.text)
    except NoSuchElementException:
        name_product.append('-')
        
    try:
        prize=driver.find_element(By.XPATH,'//span[@class="a-price-whole"]')
        price.append(prize.text)
    except NoSuchElementException:
        price.append('-')
    
    try:
        exchange=driver.find_element(By.XPATH,'//*[@id="iconfarmv2_feature_div"]/div[2]/div[1]/div[1]/div[1]/div[2]/div[1]/ol/li[3]/div[1]/span/div[2]/span')
        return_exchange.append(exchange.text)
    except NoSuchElementException:
        return_exchange.append('-')
        
    try:
        expected=driver.find_element(By.XPATH,'//span[@class="a-text-bold"]')
        delivery.append(expected.text)
    except NoSuchElementException:
        delivery.append('-')
        
    try:
        avail=driver.find_element(By.XPATH,'//div[@class="a-section a-spacing-none a-spacing-top-micro }"]')
        availability.append(avail.text)
    except NoSuchElementException:
        availability.append('-')

In [114]:
print(len(brand_name),len(name_product),len(price),len(return_exchange),len(delivery),len(availability),len(product_url))

186 186 186 186 186 186 186

In [115]:
df=pd.DataFrame({'Brand Name':brand_name,'Name of the Product':name_product,'Price':price,'Return/Exchange':return_exchange,'Expected Delivery':delivery,'Availability':availability,'Product URL':product_url})
df

,Brand Name,Name of the Product,Price,Return/Exchange,Expected Delivery,Availability,Product URL
0,Kadence,"Kadence rosewood Guitar Frontier Series, Elect...","4,999",7 days Replacement,"Wednesday, 16 August",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Kadence,Kadence Frontier guitar with Online Guitar lea...,"4,399",7 days Replacement,"Wednesday, 16 August",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,VAULT,Vault DA20 Dreadnought Acoustic Guitar With Gi...,"4,899",7 days Replacement,"Wednesday, 16 August",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,Kadence,Kadence Slowhand Premium Jumbo Semi Acoustic G...,"11,999",7 days Replacement,"Wednesday, 16 August",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,JUAREZ,"Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...","1,999",7 days Replacement,"Wednesday, 16 August",In stock,https://www.amazon.in/Juarez-Acoustic-Cutaway-...
...,...,...,...,...,...,...,...
181,-,Mustang Guitar Stand Foldable Universal A-Fram...,398,7 days Replacement,"Saturday, 12 August",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
182,MUSTANG,Mustang 46 PCS Guitar Strings Changing Kit Gui...,895,7 days Replacement,"Saturday, 12 August",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
183,-,Imaginea® 40 inch Acoustic Guitar for Beginner...,"5,449",7 days Returnable,"Sunday, 13 August",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
184,VAULT,Vault Traveller 34 Inch Acoustic Guitar With T...,"4,299",7 days Replacement,"Wednesday, 16 August",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
185,osl oliver systems limited,osl oliver systems limited Portable Voice Ampl...,"3,950",7 days Replacement,"Wednesday, 16 August",In stock,https://aax-eu.amazon.in/x/c/RPBahlEDoFMx_BCBm...

In [117]:
df.to_csv('amazon.csv')

3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

Fruits

In [66]:
driver.get("https://images.google.com/")

In [67]:
google=driver.find_element(By.XPATH,'//textarea[@class="gLFyf"]')
google.send_keys('fruits')
srec=driver.find_element(By.XPATH,'//span[@class="z1asCe MZy1Rb"]')
srec.click()
time.sleep(5)

In [68]:
image_url=[]

In [69]:
for _ in range(20):
    driver.execute_script("window.scrollBy(0,200)")
images=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
time.sleep(10)

for image in images:
    source=image.get_attribute('src')
    if source is not None:
        if (source[0:4] == 'http'):
            image_url.append(source)
            
for i in range(len(image_url)):
    if i>10:
        break
    print("Downloding {0} of{1} images" .format(i, 10))
    response=requests.get(image_url[i])
    file = open(r"C:\Users\himan\OneDrive\Desktop\down"+str(i)+".jpg","wb")
    file.write(response.content)

Downloding 0 of10 images
Downloding 1 of10 images
Downloding 2 of10 images
Downloding 3 of10 images
Downloding 4 of10 images
Downloding 5 of10 images
Downloding 6 of10 images
Downloding 7 of10 images
Downloding 8 of10 images
Downloding 9 of10 images
Downloding 10 of10 images

Cars

In [84]:
driver.get("https://images.google.com/")

In [85]:
car=driver.find_element(By.XPATH,'//textarea[@class="gLFyf"]')
car.send_keys('cars')
carsear=driver.find_element(By.XPATH,'//span[@class="z1asCe MZy1Rb"]')
carsear.click()
time.sleep(5)

In [86]:
car_urls=[]

In [87]:
for _ in range(20):
    driver.execute_script("window.scrollBy(0,200)")
carimage=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
time.sleep(10)

for roll in carimage:
    source=roll.get_attribute('src')
    if source is not None:
        if (source[0:4] == 'http'):
            car_urls.append(source)
            
for i in range(len(car_urls)):
    if i>10:
        break
    print("Downloding {0} of{1} images" .format(i, 10))
    response=requests.get(car_urls[i])
    file = open(r"C:\Users\himan\OneDrive\Desktop\down"+str(i)+".jpg","wb")
    file.write(response.content)

Downloding 0 of10 images
Downloding 1 of10 images
Downloding 2 of10 images
Downloding 3 of10 images
Downloding 4 of10 images
Downloding 5 of10 images
Downloding 6 of10 images
Downloding 7 of10 images
Downloding 8 of10 images
Downloding 9 of10 images
Downloding 10 of10 images

4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”,
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [33]:
driver.get("https://www.flipkart.com/")

In [34]:
keys=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
keys.send_keys('Oneplus Nord')
flipsearch=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
flipsearch.click()
time.sleep(3)

In [35]:
mobileurl=[]

mobrl=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
for i in mobrl:
    mobileurl.append(i.get_attribute("href"))

In [36]:
branDnAme=[]
smartphonename=[]
colour=[]
ram=[]
rom=[]
primarycamera=[]
secondarycamera=[]
displaysize=[]
batterycapacity=[]
phoneprice=[]

for i in mobileurl:
    driver.get(i)
    
    try:
        branD=driver.find_element(By.XPATH,'//span[@class="B_NuCI"]')
        branDnAme.append(branD.text.split(' ')[0])
    except NoSuchElementException:
        branDnAme.append('-')
        
    try:
        smart=driver.find_element(By.XPATH,'//h1[@class="yhB1nd"]')
        smartphonename.append(smart.text.split('(')[0])
    except NoSuchElementException:
        smartphonename.append('-')
        
    try:
        colr=driver.find_element(By.XPATH,'//*[@class="_14cfVK"]/tbody/tr[4]/td[2]/ul/li')
        colour.append(colr.text)
    except NoSuchElementException:
        colour.append('-')
        
    try:
        phoneram=driver.find_element(By.XPATH,'//*[@class="_2418kt"]/ul[1]/li')
        ram.append(phoneram.text.split('|')[0])
    except NoSuchElementException:
        ram.append('-')
        
    try:
        phonerom=driver.find_element(By.XPATH,'//*[@class="_2418kt"]/ul[1]/li')
        rom.append(phonerom.text.split('|')[1])
    except NoSuchElementException:
        rom.append('-')
        
    try:
        primary=driver.find_element(By.XPATH,'//*[@class="_2418kt"]/ul[1]/li[3]')
        primarycamera.append(primary.text.split('|')[0])
    except NoSuchElementException:
        primarycamera.append('-')
        
    try:
        secondary=driver.find_element(By.XPATH,'//*[@class="_2418kt"]/ul[1]/li[3]')
        secondarycamera.append(secondary.text)
    except NoSuchElementException:
        secondarycamera.append('-')
        
    try:
        size=driver.find_element(By.XPATH,'//*[@class="_2418kt"]/ul[1]/li[2]')
        displaysize.append(size.text)
    except NoSuchElementException:
        displaysize.append('-')
        
    try:
        capacity=driver.find_element(By.XPATH,'//*[@class="_2418kt"]/ul[1]/li[4]')
        batterycapacity.append(capacity.text)
    except NoSuchElementException:
        batterycapacity.append('-')
        
    try:
        phprice=driver.find_element(By.XPATH,'//div[@class="_30jeq3 _16Jk6d"]')
        phoneprice.append(phprice.text)
    except NoSuchElementException:
        phoneprice.append('-')

In [37]:
print(len(branDnAme),len(smartphonename),len(colour),len(ram),len(rom),len(primarycamera),len(secondarycamera),len(displaysize),len(batterycapacity),len(phoneprice),len(mobileurl))

24 24 24 24 24 24 24 24 24 24 24

In [38]:
df=pd.DataFrame({'Brand Name':branDnAme,'Smartphone Name':smartphonename,'Colour':colour,'RAM':ram,'ROM':rom,'Primary Camera':primarycamera,'Secondary Camera':secondarycamera,'Display Size':displaysize,'Battery Capacity':batterycapacity,'Price':phoneprice,'Product URL':mobileurl})
df

,Brand Name,Smartphone Name,Colour,RAM,ROM,Primary Camera,Secondary Camera,Display Size,Battery Capacity,Price,Product URL
0,OnePlus,OnePlus Nord CE 2 Lite 5G,Blue Tide,6 GB RAM,128 GB ROM,64MP Rear Camera,64MP Rear Camera | 16MP Front Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹17,899",https://www.flipkart.com/oneplus-nord-ce-2-lit...
1,OnePlus,OnePlus Nord CE 2 Lite 5G,Black Dusk,6 GB RAM,128 GB ROM,64MP Rear Camera,64MP Rear Camera | 16MP Front Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹17,730",https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,OnePlus,OnePlus Nord 3 5G,Misty Green,8 GB RAM,128 GB ROM,50MP Rear Camera,50MP Rear Camera,17.12 cm (6.74 inch) Display,5000 mAh Battery,"₹32,796",https://www.flipkart.com/oneplus-nord-3-5g-mis...
3,OnePlus,OnePlus Nord 3 5G,Misty Green,16 GB RAM,256 GB ROM,50MP Rear Camera,50MP Rear Camera,17.12 cm (6.74 inch) Display,5000 mAh Battery,"₹37,494",https://www.flipkart.com/oneplus-nord-3-5g-mis...
4,OnePlus,OnePlus Nord 2T 5G,Gray Shadow,8 GB RAM,128 GB ROM,50MP Rear Camera,50MP Rear Camera | 32MP Front Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹28,999",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
5,OnePlus,OnePlus Nord 3 5G,Tempest Gray,16 GB RAM,256 GB ROM,50MP Rear Camera,50MP Rear Camera,17.12 cm (6.74 inch) Display,5000 mAh Battery,"₹37,270",https://www.flipkart.com/oneplus-nord-3-5g-tem...
6,OnePlus,OnePlus Nord 3 5G,Tempest Gray,8 GB RAM,128 GB ROM,50MP Rear Camera,50MP Rear Camera,17.12 cm (6.74 inch) Display,5000 mAh Battery,"₹32,845",https://www.flipkart.com/oneplus-nord-3-5g-tem...
7,OnePlus,OnePlus Nord 2T 5G,Jade Fog,8 GB RAM,128 GB ROM,50MP Rear Camera,50MP Rear Camera | 32MP Front Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹28,999",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
8,OnePlus,OnePlus Nord 2T 5G,Gray Shadow,8 GB RAM,128 GB ROM,50MP Rear Camera,50MP Rear Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹28,899",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
9,OnePlus,OnePlus Nord 2 5G,Gray Sierra,8 GB RAM,128 GB ROM,50MP Rear Camera,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹29,999",https://www.flipkart.com/oneplus-nord-2-5g-gra...
10,OnePlus,OnePlus Nord 2 5G,Blue Haze,12 GB RAM,256 GB ROM,50MP Rear Camera,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹34,990",https://www.flipkart.com/oneplus-nord-2-5g-blu...
11,OnePlus,OnePlus Nord CE 5G,Blue Void,12 GB RAM,256 GB ROM,64MP Rear Camera,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹27,999",https://www.flipkart.com/oneplus-nord-ce-5g-bl...
12,OnePlus,OnePlus Nord 2 5G,PAC-MAN,12 GB RAM,256 GB ROM,50MP Rear Camera,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹37,999",https://www.flipkart.com/oneplus-nord-2-5g-pac...
13,OnePlus,OnePlus Nord 2T 5G,Gray Shadow,8 GB RAM,128 GB ROM,50MP Rear Camera,50MP Rear Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹28,988",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
14,OnePlus,OnePlus Nord,Gray Onyx,6 GB RAM,64 GB ROM,48MP + 8MP,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,"₹22,689",https://www.flipkart.com/oneplus-nord-gray-ony...
15,OnePlus,OnePlus NORD CE2 LITE 5G,Blue Tide,6 GB RAM,128 GB ROM,64MP Rear Camera,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹17,998",https://www.flipkart.com/oneplus-nord-ce2-lite...
16,OnePlus,OnePlus Nord,Gray Onyx,8 GB RAM,128 GB ROM,48MP + 8MP,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,"₹24,990",https://www.flipkart.com/oneplus-nord-gray-ony...
17,OnePlus,OnePlus Nord 2T 5G,Gray Shadow,8 GB RAM,128 GB ROM,50MP Rear Camera,50MP Rear Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹27,599",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
18,OnePlus,OnePlus Nord CE 3 Lite 5G,Pastel Lime,8 GB RAM,128 GB ROM,108MP Rear Camera,108MP Rear Camera,17.07 cm (6.72 inch) Display,5000 mAh Battery,"₹18,999",https://www.flipkart.com/oneplus-nord-ce-3-lit...
19,OnePlus,OnePlus Nord CE 3 Lite 5G,Chromatic Gray,8 GB RAM,256 GB ROM,108MP Rear Camera,108MP Rear Camera,17.07 cm (6.72 inch) Display,5000 mAh Battery,"₹21,249",https://www.flipkart.com/oneplus-nord-ce-3-lit...
20,OnePlus,OnePlus Nord CE 3 Lite 5G,Chromatic Gray,8 GB RAM,128 GB ROM,108MP Rear Camera,108MP Rear Camera,17.07 cm (6.72 inch) Display,5000 mAh Battery,"₹17,890",https://www.flipkart.com/oneplus-nord-ce-3-lit...
21,OnePlus,OnePlus NORD CE2 LITE 5G,"Blue, Black",6 GB RAM,128 GB ROM,64MP Rear Camera,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹17,999",https://www.flipkart.com/oneplus-nord-ce2-lite...
22,OnePlus,OnePlus Nord CE 3 Lite 5G,Pastel Lime,8 GB RAM,256 GB ROM,108MP Rear Camera,108MP Rear Camera,17.07 cm (6.72 inch) Display,5000 mAh Battery,"₹21,499",https://www.flipkart.com/oneplus-nord-ce-3-lit...
23,OnePlus,OnePlus Nord 2T 5G,Jade Fog,8 GB RAM,128 GB ROM,50MP Rear Camera,50MP Rear Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹27,899",https://www.flipkart.com/oneplus-nord-2t-5g-ja...

In [39]:
df.to_csv('flipkart1.csv')

5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [191]:
driver.get("https://www.google.com/maps")

In [192]:
maps=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/form/input')
maps.send_keys('kaithal')
mapsearch=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/div[1]/button')
mapsearch.click()
time.sleep(3)

In [193]:
latitude=[] 
longitude=[]

In [194]:
try:
    url_string=driver.current_url
    print("URL FETCHED: ",url_string)
    lat_long=re.findall(r'@(.*)data',url_string)
    new=lat_long[0].split(',')
    latitude=new[0]
    longitude=new[1]
    
except NoSuchElementException:
    url_string.append('-')

URL FETCHED:  https://www.google.com/maps/place/Kaithal,+Haryana+136027/@29.7918595,76.4075947,12z/data=!4m6!3m5!1s0x3911e08dac154357:0x16304e0c21f6a395!8m2!3d29.8042758!4d76.4039016!16zL20vMDZyd2Jk?entry=ttu

In [195]:
latitude

'29.7918595'

In [196]:
longitude

'76.4075947'

6. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [289]:
driver.get("https://www.digit.in/")

In [290]:
lapi=driver.find_element(By.XPATH,'//span[@class="arrow_down laptops"]')
lapi.click()
time.sleep(3)

In [291]:
best=driver.find_element(By.XPATH,'/html/body/div[2]/div/ul/li[2]/div[2]/div/div[1]/span[4]/strong')
best.click()

In [292]:
bgaming=driver.find_element(By.XPATH,'/html/body/div[2]/div/ul/li[2]/div[2]/div/div[5]/div/div[2]/a/div')
bgaming.click()

In [223]:
laptopurl=[]

laprl=driver.find_elements(By.XPATH,'//span[@class="datahreflink"]')
for i in laprl[0:7]:
    laptopurl.append(i.get_attribute("data-href"))

In [293]:
laptopname=[]
processor=[]
lapdisplay=[]
lapmemory=[]
graphicsprocessor=[]
lapweight=[]
lapprice=[]

for i in laptopurl:
    driver.get(i)
    
    try:
        laname=driver.find_element(By.XPATH,'//*[@class="remaining-details"]/table/tbody/tr/td[3]')
        laptopname.append(laname.text)
    except NoSuchElementException:
        laptopname.append('-')
        
    try:
        proc=driver.find_element(By.XPATH,'//*[@class="specs_details "]/ul/li[3]/div/p[2]/strong')
        processor.append(proc.text)
    except NoSuchElementException:
        processor.append('-')
        
    try:
        ladis=driver.find_element(By.XPATH,'//*[@class="specs_details "]/ul/li[2]/div/p[2]/strong')
        lapdisplay.append(ladis.text)
    except NoSuchElementException:
        lapdisplay.append('-')
        
    try:
        lame=driver.find_element(By.XPATH,'//*[@class="specs_details "]/ul/li[4]/div/p[2]/strong')
        lapmemory.append(lame.text)
    except NoSuchElementException:
        lapmemory.append('-')
        
    try:
        grap=driver.find_element(By.XPATH,'//*[@class="remaining-details"][6]/table/tbody/tr[4]/td[3]')
        graphicsprocessor.append(grap.text)
    except NoSuchElementException:
        graphicsprocessor.append('-')
        
    try:
        lawe=driver.find_element(By.XPATH,'//*[@class="remaining-details"][5]/table/tbody/tr/td[3]')
        lapweight.append(lawe.text)
    except NoSuchElementException:
        lapweight.append('-')
        
    try:
        lppr=driver.find_element(By.XPATH,'//*[@class="price"]/h2/strong')
        lapprice.append(lppr.text)
    except NoSuchElementException:
        lapprice.append('-')

In [294]:
print(len(laptopname),len(processor),len(lapdisplay),len(lapmemory),len(graphicsprocessor),len(lapweight),len(lapprice),len(laptopurl))

7 7 7 7 7 7 7 7

In [295]:
df=pd.DataFrame({'Laptop Name':laptopname,'Processor':processor,'Display':lapdisplay,'Memory':lapmemory,'Graphics Processor':graphicsprocessor,'Weight':lapweight,'Price':lapprice,'Product URL':laptopurl})
df

,Laptop Name,Processor,Display,Memory,Graphics Processor,Weight,Price,Product URL
0,Omen 17,13th Gen Intel Core i7-13700HX | 5.0 GHz,"17.3"" (2560 x 1440)",1 TB SSD/16 GB DDR5,NVIDIA GeForce RTX 4080,2.78,"₹ 269,777",https://www.digit.in/laptops/hp-omen-17-ck2008...
1,GT77 Titan,12th Gen Intel Core i9-12900HX | 3.6 GHz,"17.3"" (3840 x 2160)",2 TB SSD/64 GB DDR5,NVIDIA GeForce RTX 3080Ti,3.3,"₹ 499,990",https://www.digit.in/laptops/msi-gt77-titan-12...
2,Legion 5i Pro,12th Gen Intel Core i7-12700H | 4.7 GHz,"16"" (2560 x 1600)",1 TB SSD/32 GB DDR5,NVIDIA GeForce RTX 3070 Ti,3.6,"₹ 218,000",https://www.digit.in/laptops/lenovo-legion-5i-...
3,ROG Strix Scar 18,13th Gen Intel Core i9-13980HX | 2.2 GHz,"18"" (1920 x 1200)",1 TB SSD/32 GB DDR5,NVIDIA GeForce RTX 4080,3.1,"₹ 279,990",https://www.digit.in/laptops/asus-rog-strix-sc...
4,Predator Helios Neo 16,13th Gen Intel Core i7-13700HX | NA,"16"" (2560 x 1600)",1 TB SSD/16 GB DDR5,8 GB,2.6,"₹ 149,990",https://www.digit.in/laptops/acer-predator-hel...
5,ROG Zephyrus G14,AMD Ryzen 9-6900HS | 4.9 GHz,"14"" (1920 x 1200)",1 TB SSD/16 GB DDR5,AMD Radeon RX 6700S,1.65,"₹ 156,990",https://www.digit.in/laptops/asus-rog-zephyrus...
6,Cyborg 15,12th Gen Intel Core i7-12650H | 4.7 GHz,"15.6"" (1920 x 1080)",1 TB SSD/16 GB DDR5,NVIDIA GeForce RTX 4060,1.98,"₹ 130,990",https://www.digit.in/laptops/msi-cyborg-15-12t...

7. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [399]:
driver.get("https://www.forbes.com/")

In [400]:
rich=driver.find_element(By.XPATH,'/html/body/div[1]/main/section[8]/div[1]')
rich.click()
time.sleep(3)

In [401]:
dollar=driver.find_element(By.XPATH,'/html/body/div[1]/div/main/div/section/div[2]/div/div/div[1]/div/div[1]/div/div')
dollar.click()

In [402]:
rank=[]
biname=[]
networth=[]
age=[]
country=[]
source=[]
industry=[]

rank_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km TableRow_activeRow__g4oSF"]')
for r in rank_tags[0:1]:
    rank.append(r.text.split('\n')[0])
    
biname_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km TableRow_activeRow__g4oSF"]')
for b in biname_tags[0:1]:
    biname.append(b.text.split('\n')[1])
    
networth_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km TableRow_activeRow__g4oSF"]')
for n in networth_tags[0:1]:
    networth.append(n.text.split('\n')[2])
    
age_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km TableRow_activeRow__g4oSF"]')
for a in age_tags[0:1]:
    age.append(a.text.split('\n')[3])
    
country_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km TableRow_activeRow__g4oSF"]')
for c in country_tags[0:1]:
    country.append(c.text.split('\n')[4])
    
source_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km TableRow_activeRow__g4oSF"]')
for s in source_tags[0:1]:
    source.append(s.text.split('\n')[5])
    
industry_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km TableRow_activeRow__g4oSF"]')
for i in industry_tags[0:1]:
    industry.append(i.text.split('\n')[6])

In [403]:
print(len(rank),len(biname),len(networth),len(age),len(country),len(source),len(industry))

1 1 1 1 1 1 1

In [404]:
df=pd.DataFrame({'Rank':rank,'Name':biname,'Networth':networth,'Age':age,'Country':country,'Source':source,'Industry':industry})
df

  Rank                      Name Networth Age Country Source          Industry
0    1  Bernard Arnault & family   $211 B  74  France   LVMH  Fashion & Retail

In [384]:
driver.get("https://www.forbes.com/")

In [385]:
rich=driver.find_element(By.XPATH,'/html/body/div[1]/main/section[8]/div[1]')
rich.click()
time.sleep(3)

In [386]:
dollar=driver.find_element(By.XPATH,'/html/body/div[1]/div/main/div/section/div[2]/div/div/div[1]/div/div[1]/div/div')
dollar.click()

In [391]:
rank=[]
biname=[]
networth=[]
age=[]
country=[]
source=[]
industry=[]

rank_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km"]')
for r in rank_tags[0:199]:
    rank.append(r.text.split('\n')[0])
    
biname_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km"]')
for b in biname_tags[0:199]:
    biname.append(b.text.split('\n')[1])
    
networth_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km"]')
for n in networth_tags[0:199]:
    networth.append(n.text.split('\n')[2])
    
age_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km"]')
for a in age_tags[0:199]:
    age.append(a.text.split('\n')[3])
    
country_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km"]')
for c in country_tags[0:199]:
    country.append(c.text.split('\n')[4])
    
source_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km"]')
for s in source_tags[0:199]:
    source.append(s.text.split('\n')[5])
    
industry_tags=driver.find_elements(By.XPATH,'//div[@class="TableRow_row__L-0Km"]')
for i in industry_tags[0:199]:
    industry.append(i.text.split('\n')[6])

In [392]:
print(len(rank),len(biname),len(networth),len(age),len(country),len(source),len(industry))

199 199 199 199 199 199 199

In [394]:
df1=pd.DataFrame({'Rank':rank,'Name':biname,'Networth':networth,'Age':age,'Country':country,'Source':source,'Industry':industry})
df1

,Rank,Name,Networth,Age,Country,Source,Industry
0,2,Elon Musk,$180 B,51,United States,"Tesla, SpaceX",Automotive
1,3,Jeff Bezos,$114 B,59,United States,Amazon,Technology
2,4,Larry Ellison,$107 B,78,United States,Oracle,Technology
3,5,Warren Buffett,$106 B,92,United States,Berkshire Hathaway,Finance & Investments
4,6,Bill Gates,$104 B,67,United States,Microsoft,Technology
...,...,...,...,...,...,...,...
194,195,Jin Baofang,$9.6 B,70,China,Solar panels,Energy
195,195,Luo Liguo & family,$9.6 B,67,China,Chemicals,Manufacturing
196,195,Marijke Mars,$9.6 B,58,United States,"Candy, pet food",Food & Beverage
197,195,Pamela Mars,$9.6 B,62,United States,"Candy, pet food",Food & Beverage
198,195,Valerie Mars,$9.6 B,64,United States,"Candy, pet food",Food & Beverage

In [405]:
df2=pd.concat([df,df1],ignore_index=True)
df2

,Rank,Name,Networth,Age,Country,Source,Industry
0,1,Bernard Arnault & family,$211 B,74,France,LVMH,Fashion & Retail
1,2,Elon Musk,$180 B,51,United States,"Tesla, SpaceX",Automotive
2,3,Jeff Bezos,$114 B,59,United States,Amazon,Technology
3,4,Larry Ellison,$107 B,78,United States,Oracle,Technology
4,5,Warren Buffett,$106 B,92,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,195,Jin Baofang,$9.6 B,70,China,Solar panels,Energy
196,195,Luo Liguo & family,$9.6 B,67,China,Chemicals,Manufacturing
197,195,Marijke Mars,$9.6 B,58,United States,"Candy, pet food",Food & Beverage
198,195,Pamela Mars,$9.6 B,62,United States,"Candy, pet food",Food & Beverage
199,195,Valerie Mars,$9.6 B,64,United States,"Candy, pet food",Food & Beverage

8. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [6]:
driver.get("https://www.youtube.com/watch?v=k85UB5b6pJU")
time.sleep(10)

In [7]:
comments=[]
upvote=[]
comtime=[]

In [8]:
for _ in range(100):
    driver.execute_script("window.scrollBy(0,1000)")
    time.sleep(10)

com=driver.find_elements(By.XPATH,'//div[@id="comment-content"]')
for co in com[0:500]:
    comments.append(co.text)
    
upvo=driver.find_elements(By.XPATH,'//span[@id="vote-count-middle"]')
for up in upvo[0:500]:
    upvote.append(up.text)
    
time=driver.find_elements(By.XPATH,'//yt-formatted-string[@class="published-time-text style-scope ytd-comment-renderer"]')
for ti in time[0:500]:
    comtime.append(ti.text)

In [9]:
print(len(comments),len(upvote),len(comtime))

500 500 500

In [10]:
df=pd.DataFrame({'Comments':comments,'Up Vote':upvote,'Time':comtime})
df

                                              Comments Up Vote          Time
0        You are gem of entire punjabi music industry.      53  21 hours ago
1    its sad to see no one appreciate visual artist...      29  16 hours ago
2    Preston Pablo's verse was fire man he went und...     150    4 days ago
3              This masterpiece deserve something more       6   2 hours ago
4    Karan Aujla is not just a artist, it's an emotion     147    5 days ago
..                                                 ...     ...           ...
495  Karan aujla giving me weeknd vibes\nCan't beli...      20    8 days ago
496                                        Nice song ️      12    4 days ago
497  Karan not a Singer his Amezing Person love you...       2    6 days ago
498                                   Making memories             5 days ago
499  ਏਹ ਗਾਣਾ ਸੁਣ ਕੇ FULL ALBUM ਦੀ EXCITEMENT ਹੋਰ ਵੱ...     297    8 days ago

[500 rows x 3 columns]

9. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [178]:
driver.get("https://www.hostelworld.com/")

In [179]:
hostel=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/input')
hostel.send_keys('london')

In [180]:
hostelbutton=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/ul/li[2]/button/div[2]')
hostelbutton.click()

In [181]:
hostelsearch=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div/div/div[5]/button')
hostelsearch.click()

In [112]:
hostelurl=[]

hourl=driver.find_elements(By.XPATH,'//a[@class="nuxt-link"]')
for i in hourl[1:31]:
    hostelurl.append(i.get_attribute("href"))

In [182]:
hostel_name=[]
citycentre=[]
rating=[]
totalreview=[]

hostel_tags=driver.find_elements(By.XPATH,'//div[@class="property-name"]')
for h in hostel_tags[1:31]:
    hostel_name.append(h.text)
    
centre_tags=driver.find_elements(By.XPATH,'//span[@class="distance-description"]')
for c in centre_tags:
    citycentre.append(c.text)
    
rating_tags=driver.find_elements(By.XPATH,'//span[@class="number"]')
for r in rating_tags[1:31]:
    rating.append(r.text)
    
review_tags=driver.find_elements(By.XPATH,'//span[@class="left-margin"]')
for rev in review_tags:
    totalreview.append(rev.text)

In [184]:
overallreview=[]
propertydescription=[]
facilities=[]

for i in hostelurl:
    driver.get(i)
    
    try:
        over=driver.find_element(By.XPATH,'//ul[@class="rating-breakdown rating-grid"]')
        overallreview.append(over.text.split('\n'))
    except NoSuchElementException:
        laptopname.append('-')
        
    try:
        desc=driver.find_element(By.XPATH,'//*[@class="description-container"]/div[1]/div[2]')
        propertydescription.append(desc.text)
    except NoSuchElementException:
        propertydescription.append('-')
        
    try:
        fac=driver.find_element(By.XPATH,'//*[@class="facilities-container"]/ul[1]/li[1]/ul[1]')
        facilities.append(fac.text)
    except NoSuchElementException:
        facilities.append('-')

In [185]:
print(len(hostel_name),len(citycentre),len(rating),len(totalreview),len(overallreview),len(propertydescription),len(propertydescription),len(facilities))

30 30 30 30 30 30 30 30

In [186]:
df1=pd.DataFrame({'Hostel Name':hostel_name,'City Centre':citycentre,'Rating':rating,'Total Review':totalreview,'Overall Review':overallreview,'Property Description':propertydescription,'Facilities':facilities})
df1

,Hostel Name,City Centre,Rating,Total Review,Overall Review,Property Description,Facilities
0,YHA London St Pauls,- 1.9km from city centre,8.8,(2089),"[Security, 9.6, Location, 8.7, Staff, 9, Atmos...",A safe haven in the middle of the metropolis: ...,Linen Included Free City Maps Free WiFi Free I...
1,Strand Continental,- 1.3km from city centre,6.2,(976),"[Security, 9.8, Location, 9.7, Staff, 9.9, Atm...",The perfect place for solo travelers to connec...,Linen Included Free WiFi Free Internet Access
2,The Backpackshack,- 10.9km from city centre,8.6,(768),"[Security, 8.7, Location, 9, Staff, 8.3, Atmos...",Hostelworld visitors have said St Christopher'...,Linen Included Free WiFi Free Internet Access
3,Mornington Camden,- 4.1km from city centre,6.7,(56),"[Security, 8.4, Location, 8.7, Staff, 7.9, Atm...",Hostelworld guests have said Generator Hostel ...,Linen Included Free City Maps Free WiFi Free I...
4,Bell House Hostel,- 4.2km from city centre,7.6,(80),"[Security, 8.3, Location, 8.4, Staff, 8.2, Atm...",Welcome to NX London Hostel!\n\nPLEASE READ IN...,Free Breakfast Linen Included Towels Included ...
5,"PubLove @ The Steam Engine, Waterloo",- 0.5km from city centre,8.0,(409),"[Security, 9.6, Location, 9.5, Staff, 9.8, Atm...","Welcome to Urbany Hostel London, our first int...",Linen Included Free WiFi
6,International Students House,- 3.3km from city centre,8.9,(1060),"[Security, 9.1, Location, 9, Staff, 8.8, Atmos...",Note: 18-40 yrs old only. Astor Hyde Park won ...,Linen Included Free City Maps Free WiFi Free I...
7,London Waterloo Hostel,- 0.7km from city centre,5.8,(2542),"[Security, 7.6, Location, 7.6, Staff, 7, Atmos...",Safestay at Elephant and Castle is located in ...,Linen Included Free WiFi
8,Selina Camden,- 5.5km from city centre,8.7,(54),"[Security, 8.1, Location, 8.7, Staff, 7.8, Atm...",Smart Hyde Park Inn Hostel is perfectly locate...,Linen Included Free City Maps Free WiFi Free I...
9,Generator London,- 3km from city centre,7.6,(7631),"[Security, 7.7, Location, 8.1, Staff, 7, Atmos...",Safestay Holland Park\n\nSafestay Holland Park...,Linen Included Free WiFi
10,St Christopher's Inn - Liverpool Street,- 3.2km from city centre,8.3,(512),"[Security, 9.1, Location, 9.4, Staff, 9.1, Atm...",Note: 18-40 yrs old only. Astor Museum won 1st...,Linen Included Free City Maps Free WiFi
11,St Christopher's Village,- 1.8km from city centre,8.1,(12297),"[Security, 6.8, Location, 6, Staff, 7.2, Atmos...",At No.8 we take pride in our Customer Service ...,Linen Included Free WiFi
12,Safestay London Elephant & Castle,- 1.7km from city centre,7.2,(5039),"[Security, 9.3, Location, 9.7, Staff, 9.4, Atm...",International Students House provides affordab...,Linen Included Free City Maps Towels Included ...
13,St Christopher's Inn - London Bridge,- 1.8km from city centre,7.8,(3528),"[Security, 8.3, Location, 7, Staff, 8.5, Atmos...",IMPORTANT NOTICE: \n\nThis hostel is for 18 - ...,Linen Included Free City Maps Free WiFi Free I...
14,Astor Victoria,- 1.8km from city centre,7.1,(14998),"[Security, 5.7, Location, 5.9, Staff, 6.1, Atm...","For Great Facilities, Comfort & Affordability ...",Linen Included Free WiFi
15,"PubLove @ The Exmouth Arms, Euston",- 3.4km from city centre,6.9,(1085),"[Security, 8.6, Location, 8.9, Staff, 8.3, Atm...",St Christopher's Inn - London Bridge is all ab...,Linen Included Free City Maps Free WiFi Free I...
16,Onefam Notting Hill by Hostel One,- 5.5km from city centre,9.7,(2170),"[Security, 7.6, Location, 8.8, Staff, 8.3, Atm...","Saint James Backpackers, set in a classic Vict...",Free Breakfast Linen Included Free City Maps F...
17,Urbany Hostel London,- 5.4km from city centre,9.5,(849),"[Security, 7.8, Location, 8.7, Staff, 7.9, Atm...",Note: 18-40 yrs old only. Astor Victoria won 1...,Linen Included Free City Maps Free WiFi Free I...
18,Kabannas London St Pancras,- 3.3km from city centre,9.1,(2872),"[Security, 7.8, Location, 8.5, Staff, 7.8, Atm...","The friendly, attentive and welcoming staff of...",Linen Included Free City Maps Free WiFi Free I...
19,YHA London Central,- 2.9km from city centre,8.4,(4766),"[Security, 8.1, Location, 8.5, Staff, 8.1, Atm...",St Christopher's Greenwich is 'ideally located...,Linen Included Free City Maps Free WiFi Free I...
20,Smart Russell Square Hostel,- 2.6km from city centre,7.5,(10061),"[Security, 7.8, Location, 7.9, Staff, 8.1, Atm...",If you're looking to explore the markets and m...,Linen Included Free City Maps Free WiFi Free I...
21,Wombat's City Hostel London,- 3.6km from city centre,9.0,(15136),"[Security, 9.2, Location, 8.9, Staff, 8.6, Atm...",Our Liverpool Street hostel is the newest of o...,Linen Included Free City Maps Free WiFi
22,"PubLove @ The Green Man, Paddington",- 4.3km from city centre,5.5,(450),"[Security, 8.2, Location, 9.1, Staff, 8.5, Atm...","The Steam Engine, Bestplace Inn is a great hos...",Linen Included Free City Maps Free WiFi
23,PubLove @ The Rose & Crown,- 1.6km from city centre,7.7,(198),"[Security, 8.1, Location, 8.8, Staff, 8.8, Atm...","Boasting a bar and a shared lounge, Bell House...",Linen Included Free WiFi
24,Astor Museum Inn,- 2.2km from city centre,8.2,(9298),"[Security, 8.9, Location, 8.9, Staff, 8.7, Atm...",Note: 18-40 yrs old only. Astor Kensington won...,Linen Included Free City Maps Free WiFi
25,No.8 Willesden Hostel London,- 10km from city centre,6.5,(5055),"[Security, 7.9, Location, 8.5, Staff, 7.4, Atm...",St Christopher's Shepherds Bush has been highl...,Linen Included Free City Maps Free WiFi
26,No.8 Seven Sisters,- 9km from city centre,5.2,(4040),"[Security, 9.3, Location, 8, Staff, 9.1, Atmos...",Park Villa is a new boutique hostel in the hea...,Linen Included Free WiFi Free Internet Access
27,Kensal Green Backpackers,- 8.2km from city centre,5.2,(3721),"[Security, 10, Location, 9.3, Staff, 9.7, Atmo...",Kabannas London St Pancras has friendly recept...,Linen Included Free City Maps Free WiFi
28,Smart Camden Inn Hostel,- 4.4km from city centre,7.7,(3078),"[Security, 9.3, Location, 8.4, Staff, 9.8, Atm...",Our hostel is located inside a traditional Eng...,Linen Included Free Parking Towels Included Fr...
29,Park Villa,- 6.3km from city centre,8.4,(909),"[Security, 9.4, Location, 9, Staff, 9.2, Atmos...","Among underground music venues, innovative mus...",Linen Included Towels Included Free WiFi Free ...