In [17]:
import selenium
import pandas as pd
import time
import regex as re
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import ElementNotInteractableException
import requests
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [53]:
driver = webdriver.Chrome()

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [17]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [18]:
viewrank=[]
viewname=[]
viewartist=[]
uploaddate=[]
videoview=[]

try:
    rank_tags=driver.find_elements(By.XPATH,'//*[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for r in rank_tags[0:30]:
        viewrank.append(r.text.split('.')[0])
except NoSuchElementException:
    viewrank.append('-')

try:
    vwname_tags=driver.find_elements(By.XPATH,'//*[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for vn in vwname_tags[0:30]:
        viewname.append(vn.text.split('[')[0])
except NoSuchElementException:
    viewname.append('-')

try:
    vart_tags=driver.find_elements(By.XPATH,'//*[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for va in vart_tags[0:30]:
        viewartist.append(va.text)
except NoSuchElementException:
    viewartist.append('-')
        
try:
    upload_tags=driver.find_elements(By.XPATH,'//*[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for up in upload_tags[0:30]:
        uploaddate.append(up.text)
except NoSuchElementException:
    uploaddate.append('-')
    
try:
    videoview_tags=driver.find_elements(By.XPATH,'//*[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for vd in videoview_tags[0:30]:
        videoview.append(vd.text)
except NoSuchElementException:
    videoview.append('-')

In [20]:
print(len(viewrank),len(viewname),len(viewartist),len(uploaddate),len(videoview))

30 30 30 30 30

In [21]:
df=pd.DataFrame({'Rank':viewrank,'Name':viewname,' Artist':viewartist,'Upload Date':uploaddate,'Views(billions)':videoview})
df

,Rank,Name,Artist,Upload Date,Views(billions)
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.23
2,3,"""Johny Johny Yes Papa""",LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
3,4,"""Bath Song""",Cocomelon - nursery rhymes,"May 2, 2018",6.33
4,5,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.05
5,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.98
6,7,"""Wheels on the Bus""",Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,8,"""Phonics Song with Two Words""",ChuChu TV - children's songs,"March 6, 2014",5.42
8,9,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.00
9,10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV - children's songs,"February 27, 2018",4.94
10,11,"""Gangnam Style""",Psy,"July 15, 2012",4.86
11,12,"""Masha and the Bear – Recipe for Disaster""",Get Movies - children's songs,"January 31, 2012",4.55
12,13,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.41
13,14,"""Axel F""",Crazy Frog,"June 16, 2009",4.00
14,15,"""Sugar""",Maroon 5,"January 14, 2015",3.91
15,16,"""Roar""",Katy Perry,"September 5, 2013",3.84
16,17,"""Counting Stars""",OneRepublic,"May 31, 2013",3.84
17,18,"""Baa Baa Black Sheep""",Cocomelon - nursery rhymes,"June 25, 2018",3.73
18,19,"""Sorry""",Justin Bieber,"October 22, 2015",3.69
19,20,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.68
20,21,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.63
21,22,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.63
22,23,"""Dark Horse""",Katy Perry,"February 20, 2014",3.56
23,24,"""Perfect""",Ed Sheeran,"November 9, 2017",3.51
24,25,"""Faded""",Alan Walker,"December 3, 2015",3.49
25,26,"""Let Her Go""",Passenger,"July 25, 2012",3.48
26,27,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
27,28,"""Girls Like You""",Maroon 5,"May 31, 2018",3.45
28,29,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.43
29,30,"""Lean On""",Major Lazer,"March 22, 2015",3.43

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time

In [60]:
driver.get("https://www.bcci.tv/")

In [61]:
international=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()

In [62]:
fixturebutton=driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
fixturebutton.click()

In [66]:
fixbutton=driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
fixbutton.click()

In [67]:
button_fix=driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
button_fix.click()

In [68]:
fi_but=driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
fi_but.click()

In [69]:
matchtitle=[]
series=[]
place=[]
date=[]
time=[]

try:
    matchtitle_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for mt in matchtitle_tags:
        matchtitle.append(mt.text.split('-')[0])
except NoSuchElementException:
    matchtitle.append('-')

try:
    series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for se in series_tags:
        series.append(se.text)
except NoSuchElementException:
    series.append('-')
    
try:
    place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for pl in place_tags:
        place.append(pl.text.split('-')[1])
except NoSuchElementException:
    place.append('-')

try:
    date_tags=driver.find_elements(By.XPATH,'//div[@class="match-info"]')
    for da in date_tags:
        date.append(da.text.split('\n')[0])
except NoSuchElementException:
    date.append('-')

try:
    time_tags=driver.find_elements(By.XPATH,'//div[@class="match-info"]')
    for ti in time_tags:
        time.append(ti.text.split('\n')[1])
except NoSuchElementException:
    time.append('-')

In [70]:
print(len(matchtitle),len(series),len(place),len(date),len(time))

38 38 38 38 38

In [71]:
df=pd.DataFrame({'Match Title':matchtitle,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match Title,Series,Place,Date,Time
0,1st T20I,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",18 AUG 2023,7:30 PM IST
1,2nd T20I,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",20 AUG 2023,7:30 PM IST
2,3rd T20I,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",23 AUG 2023,7:30 PM IST
3,1st ODI,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",2 SEP 2023,10:00 AM IST
4,2nd ODI,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",4 SEP 2023,10:00 AM IST
5,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,...",22 SEP 2023,1:30 PM IST
6,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",24 SEP 2023,1:30 PM IST
7,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",27 SEP 2023,1:30 PM IST
8,1st ODI,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai",8 OCT 2023,2:00 PM IST
9,2nd ODI,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi",11 OCT 2023,2:00 PM IST
10,3rd ODI,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad",14 OCT 2023,2:00 PM IST
11,4th ODI,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune",19 OCT 2023,2:00 PM IST
12,5th ODI,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium,...",22 OCT 2023,2:00 PM IST
13,6th ODI,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,29 OCT 2023,2:00 PM IST
14,7th ODI,ICC MENS WORLD CUP 2023,"Wankhede Stadium, Mumbai",2 NOV 2023,2:00 PM IST
15,8th ODI,ICC MENS WORLD CUP 2023,"Eden Gardens, Kolkata",5 NOV 2023,2:00 PM IST
16,9th ODI,ICC MENS WORLD CUP 2023,"M Chinnaswamy Stadium, Bengaluru",12 NOV 2023,2:00 PM IST
17,1st T20I,AUSTRALIA TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA,23 NOV 2023,7:00 PM IST
18,2nd T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium, Thiruvanant...",26 NOV 2023,7:00 PM IST
19,3rd T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium, Guwahati",28 NOV 2023,7:00 PM IST
20,4th T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Vidarbha Cricket Association Stadium, Nagpur",1 DEC 2023,7:00 PM IST
21,5th T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad",3 DEC 2023,7:00 PM IST
22,1st T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead, Durban",10 DEC 2023,9:30 PM IST
23,2nd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha",12 DEC 2023,9:30 PM IST
24,3rd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"The Wanderers Stadium, Johannesburg",14 DEC 2023,9:30 PM IST
25,1st ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,17 DEC 2023,2:00 PM IST
26,2nd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha",19 DEC 2023,2:00 PM IST
27,3rd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,"Boland Park, Paarl",21 DEC 2023,2:00 PM IST
28,1st Test,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion",26 DEC 2023,1:30 PM IST
29,2nd Test,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town",3 JAN 2024,1:30 PM IST
30,1st T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,...",11 JAN 2024,7:00 PM IST
31,2nd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",14 JAN 2024,7:00 PM IST
32,3rd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru",17 JAN 2024,7:00 PM IST
33,1st Test,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad",25 JAN 2024,9:30 AM IST
34,2nd Test,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA,2 FEB 2024,9:30 AM IST
35,3rd Test,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",15 FEB 2024,9:30 AM IST
36,4th Test,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi",23 FEB 2024,9:30 AM IST
37,5th Test,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,...",7 MAR 2024,9:30 AM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [128]:
driver.get("https://www.statisticstimes.com/")

In [129]:
gdp=driver.find_element(By.XPATH,'//*[@class="navbar"]/div[2]/button')
gdp.click()

In [130]:
gdp=driver.find_element(By.XPATH,'//*[@class="navbar"]/div[2]/div/a[3]')
gdp.click()

In [131]:
gdp_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_button.click()

In [142]:
gdprank=[]
gdpstate=[]
gsdpcurrentprices=[]
gsdpprice=[]
gdpshare=[]
gdpbillion=[]

try:
    gdprank_tags=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
    for rdp in gdprank_tags:
        gdprank.append(rdp.text)
except NoSuchElementException:
    gdprank.append('-')

try:
    gdpstate_tags=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
    for gst in gdpstate_tags:
        gdpstate.append(gst.text)
except NoSuchElementException:
    gdpstate.append('-')

try:
    gsdpcurrentprices_tags=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
    for cpp in gsdpcurrentprices_tags:
        gsdpcurrentprices.append(cpp.text)
except NoSuchElementException:
    gsdpcurrentprices.append('-')

try:
    gsdpprice_tags=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
    for prd in gsdpprice_tags:
        gsdpprice.append(prd.text)
except NoSuchElementException:
    gsdpprice.append('-')

try:
    gdpshare_tags=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
    for shp in gdpshare_tags:
        gdpshare.append(shp.text)
except NoSuchElementException:
    gdpshare.append('-')
    
try:
    gdpbillion_tags=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[6]')
    for bip in gdpbillion_tags:
        gdpbillion.append(bip.text)
except NoSuchElementException:
    gdpbillion.append('-')

In [143]:
print(len(gdprank),len(gdpstate),len(gsdpcurrentprices),len(gsdpprice),len(gdpshare),len(gdpbillion))

33 33 33 33 33 33

In [144]:
df=pd.DataFrame({'Rank':gdprank,'State':gdpstate,'GSDP(18-19)- at current prices':gsdpcurrentprices,'GSDP(19-20)- at current prices':gsdpprice,'Share(18-19)':gdpshare,'GDP($ billion)':gdpbillion})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [54]:
driver.get("https://github.com/")

In [55]:
git=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
git.click()

In [56]:
trend=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trend.click()

In [57]:
trend_url=[]
url=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in url:
    trend_url.append(i.get_attribute("href"))

In [58]:
len(trend_url)

25

In [84]:
repositorytitle=[]
repositorydescription=[]
contributorscount=[]
languageused=[]

for i in trend_url:
    driver.get(i)
    try:
        repotitle=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')
        repositorytitle.append(repotitle.text)
    except NoSuchElementException:
        repositorytitle.append('-')

    try:
        reposdescription=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        repositorydescription.append(reposdescription.text)
    except NoSuchElementException:
        repositorydescription.append('-')
        
    try:
        contri=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[4]/div/h2/a/span')
        contributorscount.append(contri.text)
    except NoSuchElementException:
        contributorscount.append('-')

    try:
        langu=driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        languageused.append(langu.text)
    except NoSuchElementException:
        languageused.append('-')

In [85]:
print(len(repositorytitle),len(repositorydescription),len(contributorscount),len(languageused))

25 25 25 25

In [86]:
df=pd.DataFrame({'Repository Title':repositorytitle,'Repository Description':repositorydescription,'Contributors Count':contributorscount,'Language Used':languageused})
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,Fooocus,Focus on prompting and generating,2,Python
1,supervision,We write your reusable computer vision tools. 💜,449,Python
2,gpt-researcher,GPT based autonomous agent that does online co...,12,Python
3,DoctorGPT,DoctorGPT is an LLM that can pass the US Medic...,-,Jupyter Notebook
4,outlines,Generative Model Programming,3,Python
5,conference-app-2023,-,55,Kotlin
6,2023Hvv,2023 HVV情报速递~,-,-
7,little-rat,🐀 Small chrome extension to monitor other exte...,-,JavaScript
8,awesome-scalability,"The Patterns of Scalable, Reliable, and Perfor...",,-
9,neuralangelo,"Official implementation of ""Neuralangelo: High...",2,Python
10,build-your-own-x,Master programming by recreating your favorite...,2,-
11,hackingtool,ALL IN ONE Hacking Tool For Hackers,-,Python
12,privateGPT,Interact privately with your documents using t...,26,Python
13,roop,one-click deepfake (face swap),,Python
14,apitable,"🚀🎉📚 APITable, an API-oriented low-code platfor...",,TypeScript
15,llama_embeddings_fastapi_service,-,-,Python
16,openai-cookbook,Examples and guides for using the OpenAI API,-,Jupyter Notebook
17,gpt-llm-trainer,-,-,Jupyter Notebook
18,immich,Self-hosted photo and video backup solution di...,6,Dart
19,azure-search-openai-demo,A sample app for the Retrieval-Augmented Gener...,-,Python
20,WizardLM,Family of instruction-following LLMs powered b...,-,Python
21,CleanArchitectureForAndroid,Clean Architecture for Android - a sample project,-,Kotlin
22,New-Grad-2024,👋 Hey there new grad🎉! We've put together a co...,-,Python
23,ChatGPT-Next-Web,A well-designed cross-platform ChatGPT UI (Web...,118,TypeScript
24,localGPT,Chat with your documents on your local device ...,,Python

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [73]:
driver.get("https://www.billboard.com/")

In [75]:
billboard=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")
billboard.click()

In [76]:
top=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
top.click()

In [92]:
songname=[]
artistname=[]
lastweekrank=[]
peakrank=[]
weeksonboard=[]

try:
    songname_tags=driver.find_elements(By.XPATH,'//*[@class="lrv-u-width-100p"]/ul[1]/li[1]/h3[1]')
    for sng in songname_tags:
        songname.append(sng.text)
except NoSuchElementException:
    songname.append('-')
    
try:
    artistname_tags=driver.find_elements(By.XPATH,'//*[@class="lrv-u-width-100p"]/ul[1]/li[1]/span[1]')
    for ats in artistname_tags:
        artistname.append(ats.text)
except NoSuchElementException:
    artistname.append('-')
    
try:
    lastweekrank_tags=driver.find_elements(By.XPATH,'//*[@class="lrv-u-width-100p"]/ul[1]/li[4]/span[1]')
    for las in lastweekrank_tags:
        lastweekrank.append(las.text)
except NoSuchElementException:
    lastweekrank.append('-')
    
try:
    peakrank_tags=driver.find_elements(By.XPATH,'//*[@class="lrv-u-width-100p"]/ul[1]/li[5]/span[1]')
    for pek in peakrank_tags:
        peakrank.append(pek.text)
except NoSuchElementException:
    peakrank.append('-')
    
try:
    weeksonboard_tags=driver.find_elements(By.XPATH,'//*[@class="lrv-u-width-100p"]/ul[1]/li[6]/span[1]')
    for wee in weeksonboard_tags:
        weeksonboard.append(wee.text)
except NoSuchElementException:
    weeksonboard.append('-')

In [93]:
print(len(songname),len(artistname),len(lastweekrank),len(peakrank),len(weeksonboard))

100 100 100 100 100

In [94]:
df=pd.DataFrame({'Song Name':songname,'Artist Name':artistname,'Last Week Rank':lastweekrank,'Peak Rank':peakrank,'Weeks on Board':weeksonboard})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Last Night,Morgan Wallen,1,1,28
1,Fast Car,Luke Combs,2,2,20
2,Cruel Summer,Taylor Swift,4,3,14
3,Calm Down,Rema & Selena Gomez,6,3,49
4,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
96,Overdrive,Post Malone,68,47,3
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
99,Rubicon,Peso Pluma,-,63,6

6. Scrape the details of Highest selling novels.
Url=https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [97]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [113]:
bookname=[]
authorname=[]
volumesales=[]
publisher=[]
genre=[]

try:
    bookname_tags=driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[2]')
    for bnk in bookname_tags:
        bookname.append(bnk.text)
except NoSuchElementException:
    bookname.append('-')
    
try:
    authorname_tags=driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[3]')
    for auh in authorname_tags:
        authorname.append(auh.text)
except NoSuchElementException:
    authorname.append('-')
    
try:
    volumesales_tags=driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[4]')
    for vul in volumesales_tags:
        volumesales.append(vul.text)
except NoSuchElementException:
    volumesales.append('-')
    
try:
    publisher_tags=driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[5]')
    for pul in publisher_tags:
        publisher.append(pul.text)
except NoSuchElementException:
    publisher.append('-')
    
try:
    genre_tags=driver.find_elements(By.XPATH,'//*[@class="in-article sortable"]/tbody/tr/td[6]')
    for gen in genre_tags:
        genre.append(gen.text)
except NoSuchElementException:
    genre.append('-')

In [114]:
print(len(bookname),len(authorname),len(volumesales),len(publisher),len(genre))

100 100 100 100 100

In [115]:
df=pd.DataFrame({'Book Name':bookname,'Author Name':authorname,'Volume Sales':volumesales,'Publisher':publisher,'Genre':genre})
df

,Book Name,Author Name,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [3]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [11]:
tvname=[]
yearspan=[]
genre=[]
runtime=[]
ratings=[]
votes=[]

try:
    tvname_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a[1]')
    for mon in tvname_tags:
        tvname.append(mon.text)
except NoSuchElementException:
    tvname.append('-')

try:
    yearspan_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for yer in yearspan_tags:
        yearspan.append(yer.text)
except NoSuchElementException:
    yearspan.append('-')

try:
    genre_tags=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for gr in genre_tags:
        genre.append(gr.text)
except NoSuchElementException:
    genre.append('-')
    
try:
    runtime_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for rt in runtime_tags:
        runtime.append(rt.text)
except NoSuchElementException:
    runtime.append('-')
    
try:
    ratings_tags=driver.find_elements(By.XPATH,'//*[@class="ipl-rating-widget"]/div[1]/span[2]')
    for ratg in ratings_tags:
        ratings.append(ratg.text)
except NoSuchElementException:
    ratings.append('-')
    
try:
    votes_tags=driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for vte in votes_tags:
        votes.append(vte.text)
except NoSuchElementException:
    votes.append('-')

In [12]:
print(len(tvname),len(yearspan),len(genre),len(runtime),len(ratings),len(votes))

100 100 100 100 100 100

In [13]:
df=pd.DataFrame({'TVshow Name':tvname,'Year Span':yearspan,'Genre':genre,'Run Time':runtime,'Ratings':ratings,'Votes':votes})
df

,TVshow Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,192,993"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,767"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,928"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,948"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"265,021"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"52,421"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,451"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,093"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,681"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,643"

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

In [35]:
driver.get("https://archive.ics.uci.edu/")

In [36]:
dataset=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
dataset.click()

In [37]:
set_url=[]
url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    set_url.append(i.get_attribute("href"))

In [50]:
datasetname=[]
datatype=[]
task=[]
attributetype=[]
instances=[]
noofattribute=[]
uciyear=[]

for i in set_url:
    driver.get(i)
    
    try:
        datasetname_tags=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        datasetname.append(datasetname_tags.text)
    except NoSuchElementException:
        datasetname.append('-')

    try:
        datatype_tags=driver.find_element(By.XPATH,'//*[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[1]/p')
        datatype.append(datatype_tags.text)
    except NoSuchElementException:
        datatype.append('-')
    
    try:
        task_tags=driver.find_element(By.XPATH,'//*[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[3]/p')
        task.append(task_tags.text)
    except NoSuchElementException:
        task.append('-')
    
    try:
        attributetype_tags=driver.find_element(By.XPATH,'//*[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[4]/p')
        attributetype.append(attributetype_tags.text)
    except NoSuchElementException:
        attributetype.append('-')
    
    try:
        instances_tags=driver.find_element(By.XPATH,'//*[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[5]/p')
        instances.append(instances_tags.text)
    except NoSuchElementException:
        instances.append('-')
    
    try:
        noofattribute_tags=driver.find_element(By.XPATH,'//*[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[6]/p')
        noofattribute.append(noofattribute_tags.text)
    except NoSuchElementException:
        noofattribute.append('-')
    
    try:
        uciyear_tags=driver.find_element(By.XPATH,'//h2[@class="text-primary-content"]')
        uciyear.append(uciyear_tags.text)
    except NoSuchElementException:
        uciyear.append('-')

In [51]:
print(len(datasetname),len(datatype),len(task),len(attributetype),len(instances),len(noofattribute),len(uciyear))

10 10 10 10 10 10 10

In [52]:
df=pd.DataFrame({'Dataset name':datasetname,'Data type':datatype,'Task':task,'Attribute type':attributetype,'No of instances':instances,'No of attribute':noofattribute,'Year':uciyear})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Multivariate,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
5,Wine,Multivariate,Classification,"Integer, Real",178,13,Donated on 6/30/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
7,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,Donated on 10/5/2019
8,Car Evaluation,Multivariate,Classification,Categorical,1728,6,Donated on 5/31/1997
9,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987